<a href="https://www.credly.com/badges/fdc5df64-f420-4fbb-81fe-82b9814091d8/public_url" target="_blank"
   rel="noopener noreferrer"
   class="rounded-lg bg-blur h-36 object-cover hover:opacity-80 transition duration-300 hover:scale-105 ease-in-out">
    <img src="https://images.credly.com/size/340x340/images/3f36cda2-b4c2-46ba-a6d8-f11219631451/MTA-Security_Fundamentals-600x600.png"
         alt="MTA Security Fundamentals"
         class="rounded-lg bg-blur h-36 object-cover hover:opacity-80 transition duration-300 hover:scale-105 ease-in-out">
</a>