Welcome to my portfolio! I've designed this minimalistic space to showcase my work.
<br><br>
I'm currently pursuing my MBO (VET) Software Developer diploma at
<a href="https://www.rijnijssel.nl/"
   class="focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500 underline hover:no-underline">
    <span class="text-orange-400 dark:text-orange-500">Rijn</span><span class="text-purple-400 dark:text-purple-500">IJssel</span>
</a>.
I'm deeply passionate about technologies like Laravel, Livewire, and Tailwind CSS, and I'm always eager to expand my expertise in these areas.
<br><br>
Apart from coding, I enjoy mountain biking, drawing, and playing video games.
<br><br>

<span class="text-lg font-bold">My skills:</span>
<br>
<span class="text-lg font-light">Laravel, Livewire, Tailwind CSS, HTML, CSS, JavaScript, PHP, MySQL, Git, GitHub, Linux, Windows, and more.</span>

<br><br>

<span class="text-lg font-bold">Overall Language Distribution:</span>
<div id="stats" class="flex flex-wrap space-x-2"></div>
<script>
    const stats = `<%- readmeContent.slice(readmeContent.indexOf('## GitHub Stats'), readmeContent.indexOf('Last update:', readmeContent.indexOf('## GitHub Stats'))).trim() %>`
        .split('\n')
        .filter(stat => stat.includes('!['));

    const imagesHTML = stats.map(stat => {
        const regex = /!\[([^\]]+)\]\(([^\)]+)\)/g;
        const matches = regex.exec(stat);
        if (matches) {
            const [, alt, src] = matches;
            return `<img class="pt-2" src="${src}" alt="${alt}" />`;
        }
        return '';
    }).join('');
    document.getElementById('stats').innerHTML = imagesHTML;
</script>

