Welcome to my portfolio! I've designed this minimalistic space to showcase my work.
<a href="<%- website %>" class="underline hover:text-blue-300 transition duration-300">
    Check out my main website here.
</a>
<br><br>
I'm currently pursuing my MBO (VET) Software Developer diploma at
<a href="https://www.rijnijssel.nl/"
   class="focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500 underline hover:no-underline">
    <span class="text-orange-400 dark:text-orange-500">Rijn</span><span class="text-purple-400 dark:text-purple-500">IJssel</span>
</a>.
I'm deeply passionate about technologies like Laravel, Livewire, and Tailwind CSS, and I'm always eager to expand my expertise in these areas.
<br><br>
Apart from coding, I enjoy mountain biking, drawing, and playing video games.
<br><br>

<span class="text-lg font-bold">My skills:</span>
<br>
<span class="text-lg font-light">Laravel, Livewire, Tailwind CSS, HTML, CSS, JavaScript, PHP, MySQL, Git, GitHub, Linux, Windows, and more.</span>