<div class="flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-4">
    <ul class="flex space-x-4">
        <a href="https://github.com/Justin0122" target="_blank">
            <img src="./src/svg/github.svg" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/justin-jongstra-11b873207/" target="_blank">
            <img src="./src/svg/linkedin.svg" alt="LinkedIn">
        </a>
        <a href="https://www.instagram.com/justin._x3/" target="_blank">
            <img src="./src/svg/instagram.svg" alt="Instagram">
        </a>
        <a href="https://packagist.org/packages/justin0122/" target="_blank">
            <img src="./src/svg/packagist.svg" alt="Packagist">
        </a>
        <a href="mailto:justin@justinjongstra.nl" class="hover:text-purple-300 transition duration-300">
            <img src="./src/svg/mailto.svg" alt="Mailto">
        </a>
    </ul>
</div>